In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
import mysql.connector as con

In [5]:
mydb = con.connect(host = 'localhost',user = 'root',passwd = 'Vishal@#4545')

Create database

In [9]:
mycur = mydb.cursor()
mycur.execute('create database employee')

In [13]:
mycur.execute('show databases')
for i in mycur:
    print(i)

('aa1',)
('employee',)
('information_schema',)
('my',)
('mysql',)
('performance_schema',)
('students_1',)
('sys',)
('test',)
('v1',)

Create table

In [17]:
mydb = con.connect(host = 'localhost',user = 'root',passwd ='Vishal@#4545',database = 'employee')

In [19]:
mycur = mydb.cursor()

In [23]:
mycur.execute('create table empl(name varchar(20) not null,id int not null unique,post varchar(20) not null,salary int not null)')

In [25]:
mycur.execute('show tables')
for i in  mycur:
    print(i)

('empl',)

entities add in table

In [28]:
data = 'insert into empl (name,id,post,salary) values(%s,%s,%s,%s)'

In [30]:
d1 = [
    ('Radha Shrinivas',122,'HR',54000),
    ('Sanjiv Sharma',34,'Data Scientist',75000),
    ('Ishani Pathak',11,'Software Developer',60000),
    ('Giva Patel',45,'Web Developer',55000),
    ('Ram Pandya',65,'Manager',65000),
    ('Rekha Trivedi',144,'HR',50000),
    ('Samir Bhatt',40,'Software Developer',65000),
    ('Kasish Verma',54,'Data Scientist',55000),
    ('Hari Jadega',550,'HR',54000),
    ('Nandani Shah',510,'Web Developer',45000),
    ('Sahil Yadav',35,'Electirc Engineer',45000),
    ('Kuldeep Kori',51,'Electric Engineer',50000),
    ('Priya Mehta',601,'Software Developer',45000),
    ('Om Patel',69,'HR',35000),
    ('Ami Rajput',811,'Data Scientist',50000),
    ('Falgun Shah',31,'App Developer',45000),
    ('Vishal Obroei',92,'App Developer',65000),
    ('Chirag Dave',86,'Web Developer',51000)
    
]

In [32]:
mycur.executemany(data,d1)
mydb.commit()

In [40]:
for i in mycur:
    print(i)

In [42]:
q = 'select * from empl'
mycur.execute(q)
re = mycur.fetchall()
for i in re:
    print(i)

('Ishani Pathak', 11, 'Software Developer', 60000)
('Falgun Shah', 31, 'App Developer', 45000)
('Sanjiv Sharma', 34, 'Data Scientist', 75000)
('Sahil Yadav', 35, 'Electirc Engineer', 45000)
('Samir Bhatt', 40, 'Software Developer', 65000)
('Giva Patel', 45, 'Web Developer', 55000)
('Kuldeep Kori', 51, 'Electric Engineer', 50000)
('Kasish Verma', 54, 'Data Scientist', 55000)
('Ram Pandya', 65, 'Manager', 65000)
('Om Patel', 69, 'HR', 35000)
('Chirag Dave', 86, 'Web Developer', 51000)
('Vishal Obroei', 92, 'App Developer', 65000)
('Radha Shrinivas', 122, 'HR', 54000)
('Rekha Trivedi', 144, 'HR', 50000)
('Nandani Shah', 510, 'Web Developer', 45000)
('Hari Jadega', 550, 'HR', 54000)
('Priya Mehta', 601, 'Software Developer', 45000)
('Ami Rajput', 811, 'Data Scientist', 50000)

In [46]:
mycur.execute('select name,id from empl')
re = mycur.fetchall()
for i in re:
    print(i)

('Ishani Pathak', 11)
('Falgun Shah', 31)
('Sanjiv Sharma', 34)
('Sahil Yadav', 35)
('Samir Bhatt', 40)
('Giva Patel', 45)
('Kuldeep Kori', 51)
('Kasish Verma', 54)
('Ram Pandya', 65)
('Om Patel', 69)
('Chirag Dave', 86)
('Vishal Obroei', 92)
('Radha Shrinivas', 122)
('Rekha Trivedi', 144)
('Nandani Shah', 510)
('Hari Jadega', 550)
('Priya Mehta', 601)
('Ami Rajput', 811)

In [50]:
q = 'select * from empl where id>700'
mycur.execute(q)
re = mycur.fetchall()
for i in re:
    print(i)

('Ami Rajput', 811, 'Data Scientist', 50000)

In [80]:
q = """select name ,post ,salary from empl where id<100 and salary<50000"""
mycur.execute(q)
re = mycur.fetchall()
for i in re:
    print(i)

('Falgun Shah', 'App Developer', 45000)
('Sahil Yadav', 'Electirc Engineer', 45000)
('Om Patel', 'HR', 35000)

In [106]:
mycur.execute('select name , id,post from empl where post ="HR"  or post = "App developer" ')
re = mycur.fetchall()
for i in re:
    print(i)

('Falgun Shah', 31, 'App Developer')
('Om Patel', 69, 'HR')
('Vishal Obroei', 92, 'App Developer')
('Radha Shrinivas', 122, 'HR')
('Rekha Trivedi', 144, 'HR')
('Hari Jadega', 550, 'HR')

In [110]:
q = 'select name,post,id from empl where post = "HR" or post = "Web Developer" and id<500 '
mycur.execute(q)
re =mycur.fetchall()
for i in re:
    print(i)

('Giva Patel', 'Web Developer', 45)
('Om Patel', 'HR', 69)
('Chirag Dave', 'Web Developer', 86)
('Radha Shrinivas', 'HR', 122)
('Rekha Trivedi', 'HR', 144)
('Hari Jadega', 'HR', 550)

In [112]:
q = 'select * from empl where salary in(40000,60000)'
mycur.execute(q)
re = mycur.fetchall()
for i in re:
    print(i)

('Ishani Pathak', 11, 'Software Developer', 60000)

In [132]:
q = 'select * from empl where salary between 40000 and 50000'
mycur.execute(q)
re = mycur.fetchall()
for i in re:
    print(i)

('Falgun Shah', 31, 'App Developer', 45000)
('Sahil Yadav', 35, 'Electirc Engineer', 45000)
('Kuldeep Kori', 51, 'Electric Engineer', 50000)
('Rekha Trivedi', 144, 'HR', 50000)
('Nandani Shah', 510, 'Web Developer', 45000)
('Priya Mehta', 601, 'Software Developer', 45000)
('Ami Rajput', 811, 'Data Scientist', 50000)

In [140]:
mycur.execute('select * from empl where id like "1%" or id like "%5"')
re = mycur.fetchall()
for i in re:
    print(i)

('Ishani Pathak', 11, 'Software Developer', 60000)
('Sahil Yadav', 35, 'Electirc Engineer', 45000)
('Giva Patel', 45, 'Web Developer', 55000)
('Ram Pandya', 65, 'Manager', 65000)
('Radha Shrinivas', 122, 'HR', 54000)
('Rekha Trivedi', 144, 'HR', 50000)

In [150]:
q = 'select  name ,id , salary from empl where id between 50 AND 110 order by name asc'
mycur.execute(q)
re = mycur.fetchall()
for i in re:
    print(i)

('Chirag Dave', 86, 51000)
('Kasish Verma', 54, 55000)
('Kuldeep Kori', 51, 50000)
('Om Patel', 69, 35000)
('Ram Pandya', 65, 65000)
('Vishal Obroei', 92, 65000)

In [164]:
mycur.execute('select name , post,id from empl order by name asc limit 5')
re = mycur.fetchall()
for i in re:
    print(i)

('Ami Rajput', 'Data Scientist', 811)
('Chirag Dave', 'Web Developer', 86)
('Falgun Shah', 'App Developer', 31)
('Giva Patel', 'Web Developer', 45)
('Hari Jadega', 'HR', 550)

In [170]:
q = 'select count(name) from empl'
mycur.execute(q)
re  =mycur.fetchall()
for i in re:
    print(i)

(18,)

In [176]:
q = 'select count(id),count(salary) ,count(post),count(post) from empl'
mycur.execute(q)
re  =mycur.fetchall()
for i in re:
    print(i)

(18, 18, 18, 18)